# Assignment

1. Determine the types of the below-given variables:
    * Age (Continuous)
    * Salary (Continuous)
    * Income (Continuous)
    * Customer type (Nominal variables)
    * Stock price (Continuous)

**2.** Using the `movie` data, we have studied in this lesson. Complete the following tasks:
    * Select a variable from the `movie` dataset and discuss the variable type of this variable
    * Categorize a variable of your choice and assign a name to it
    * Count the number of rows for each category

In [2]:
import pandas as pd
import numpy as np
movie = pd.read_csv("https://bootrain-lms-assets.s3.eu-central-1.amazonaws.com/bootrain-lms-static/datasets/movie.csv")

In [6]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

**`Duration   is Float and Continous variable.`**

In [9]:
def make_discrete(time):
    if time <= 60:
        return 1
    elif (time > 60) and (time < 120):
        return 2
    else:
        return 3
movie['duration_grup'] = movie['duration'].apply(make_discrete)
display(movie.head())
movie.groupby("duration_grup")["duration"].count()

   color      director_name  ...  movie_facebook_likes  duration_grup
0  Color      James Cameron  ...                 33000              3
1  Color     Gore Verbinski  ...                     0              3
2  Color         Sam Mendes  ...                 85000              3
3  Color  Christopher Nolan  ...                164000              3
4    NaN        Doug Walker  ...                     0              3

[5 rows x 29 columns]

duration_grup
1     109
2    3774
3    1145
Name: duration, dtype: int64

**3. Is it possible to convert categorical variable into numerical one? If so, how can you make that?**

Yes. For Example. we can change color column from String to integer. 
Then 1 will be Color and 0 will be Black-White in the Color Column

In [17]:
def make_int(color):
    if color=="Color":
        return 1
    else:
        return 0
movie['color'] = movie['color'].apply(make_int)
display(movie.head())
movie.color.dtype

   color      director_name  ...  movie_facebook_likes  duration_grup
0      0      James Cameron  ...                 33000              3
1      0     Gore Verbinski  ...                     0              3
2      0         Sam Mendes  ...                 85000              3
3      0  Christopher Nolan  ...                164000              3
4      0        Doug Walker  ...                     0              3

[5 rows x 29 columns]

dtype('int64')

**4.** While continuous data is generally preferred over discrete data, please indicate circumstances where discrete is the preferred data type although continuous data is available **for** the same characteristic.


Discrete variables can be used to determine a range of age groups. Or it can be used in certain range of properties such as temperature and height.

**5.** While continuous data is measured and attribute data is counted, there is sometimes confusion if some specific dataset should be considered continuous or attribute. Provide some examples of confusing datasets and your inference.

Some continuous variables cannot be made discrete. There may be some data that vary from country to country and from person to person. These are fees according to temperature, income, etc.